*{
  margin: 0;
  padding: 0;
}

.profile-icon {
  padding: 10px;
  background-color: blue;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile svg{
  width: 20px;
  height: 20px;
  color: white;
}
.profile .flex-wrapper{
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  gap:  20px;
}
.login-form{
  width: 500px;
}
.register-form{
  width: 500px;
}